/*
所有页面的总体样式
Status: OK
 */
/*a标签获取焦点的时候不要有边框，解决图片聚焦边框的问题*/
a:focus {
    border: none;
}

/*iframe默认全部隐藏*/
iframe {
    display: none;
}

/*选中样式*/
::selection {
    background: #007bff !important;
    color: #ffffff !important;
}

/*火狐浏览器选中样式*/
::-moz-selection {
    background: #007bff !important;
    color: #ffffff !important;
}

/*滚动条的控制按钮*/
::-webkit-scrollbar-button {
    display: none;
}

/*定义滚动条高宽及背景-高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 0.375rem;
    height: 0.25rem;
    background-color: rgba(0, 0, 0, 0);
}

/*定义滚动条轨道*/
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .125);
}

/*返回顶部*/
.back-top {
    position: fixed;
    display: none;
    z-index: 20;
    bottom: 1.5rem;
    right: 1rem;
    background: rgba(0, 0, 0, .4);
    width: 2rem;
    height: 2rem;
    color: #ffffff;
    text-align: center;
    line-height: 1.8rem;
    border-radius: 1rem;
}

/*LG以下的样式*/
@media (max-width: 992px) {

    /*返回顶部在小屏幕下的显示*/
    .back-top {
        right: .5rem !important;
    }
}

/*分页的字体*/
.pagination {
    font-family: "Courier New", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*分页中的链接样式*/
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #6c757d;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

/*分页链接划过的样式*/
.page-link:hover {
    z-index: 2;
    color: #6c757d;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

/*分页项激活的样式*/
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

/*搜索按钮的样式*/
#search button {
    border: 1px solid #ced4da;
}

/*扩充样式*/
.mb-4point5 {
    margin-bottom: 2rem !important;
}

/* 弹出层弹出后禁止页面滚动 */
.no-scroll,
.no-scroll body {
    overflow: hidden;
}

/* 弹出层弹出后禁止页面滚动 */
.no-scroll body {
    position: relative;
}

/*文章摘要的样式*/
.post-summary {
    color: #6c757d!important;
    display: block;
    line-height: 24px;
    font-size: 16px;
    margin: 10px 0;
    overflow: hidden;
}

/*屏幕小于320px的时候*/
.thumbnail-img-sm {
    display: none;
}

.thumbnail-img-lg {
    display: none;
}

/*最小屏幕*/
@media (min-width: 320px) {

    .h4, h4 {
        font-size: 1.2rem;
    }

    .post-summary {
        max-height: 96px;
    }

    .item-left {
        /*height: 220px;*/
    }
}

/*中屏手机*/
@media (min-width: 375px) {

    .thumbnail-img-sm {
        display: block !important;
        margin-top: -.2rem !important;
        width: 100px !important;
        height: 60px !important;
    }

    .post-summary {
        max-height: 72px;
    }

    .item-left {
        /*height: 180px;*/
    }
}

/* 大屏手机 */
@media (min-width: 425px) {

    .post-summary {
        max-height: 96px;
    }

    .thumbnail-img-sm {
        margin-top: -.35rem !important;
        width: 146px !important;
        height: 88px !important;
    }

    .item-left {
        /*height: 220px;*/
    }
}

/*特大屏手机*/
@media (min-width: 576px) {

    .thumbnail-img-sm {
        width: 146px !important;
        height: 88px !important;
    }

    .item-left {
        /*height: 240px;*/
    }
}

/*平板*/
@media (min-width: 768px) {

    .h4, h4 {
        font-size: 1.5rem;
    }

    .thumbnail-img-sm {
        display: none !important;
    }

    .thumbnail-img-lg {
        display: block !important;
        width: 243px !important;
        height: 146px !important;
    }

    .item-left {
        /*height: 240px;*/
    }
}

/*微型电脑*/
@media (min-width: 992px) {

    .thumbnail-img-lg {
        width: 266px !important;
        height: 160px !important;
    }

    .item-left {
        /*height: 240px;*/
    }
}

/*其他电脑*/
@media (min-width: 1200px) {

    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1180px;
    }

    #left {
        /*margin-top: -.5rem;*/
        padding-top: 0.5rem;
    }

    #left div[role=alert] {
        margin-top: 2rem !important;
    }

    .thumbnail-img-lg {
        width: 220px !important;
        height: 132px !important;
    }

    .item-left {
        /*height: 240px;*/
    }
}


/* 页脚ok 版权信息 */
.footer .wrapper {
    position: relative;
}

.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    font-family: Helvetica Neue, Luxi Sans, DejaVu Sans, Tahoma, Hiragino Sans GB, Microsoft Yahei, sans-serif;
    font-size: 14px;
}

footer .link-info a {
    color: #dc3545 !important;
    cursor: pointer;
    text-decoration: none;
}

footer .link-share {
}


/*解决页面空白较多 footer没有在下面*/
html{
    height: 100%;
}
body{
    height: 100%;
}

.container-fluid,.container{
    min-height: calc(100% - 155px);
}
